params {
    input_csv = "*.csv"
    output_dir = "${baseDir}/ref2_results"
    ref_bwa   = "${baseDir}/index/hg19.fa"
    seqff_dir = "${baseDir}/assets"
}

process {
    executor = 'local'         
    queue    = 'LocalQ'      
    memory   = '64 GB'          
    cpus     = 32              
    queueSize = 2
    stageInMode = 'copy'

    withName: convert_fastq {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: fastqc_pre {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: multiqc {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: trimmomatic {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: fastqc_post {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: bwa {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: sort_bam {
        cpus   = { 8    * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: rm_dup {
        cpus   = { 8    * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: mapped_bam {
        cpus   = { 8    * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: index {
        cpus   = { 8    * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: pca_plot {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: gender {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: ff_all {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: ff_male {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName:convert_files {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: ref {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: read_count {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: wisecondor {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: report {
        cpus   = { 1    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
}   


profiles {
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = '24h'
        singularity.autoMounts  = true
    }
}


report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}


workDir = "./work"