params {
    input_csv = "*.csv"
    output_dir = "${baseDir}/results"
    ref_bwa   = "${baseDir}/index/hg19.fa"
    seqff_dir = "${baseDir}/assets"
    reference_dir = ""
    binSize = 1000000
    gender_threshold = ""
}
workDir="${projectDir}/work"
executor {
    name = 'local'
    queueSize = 10
    cpus = 48
    memory = 240.GB
}
profiles {
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = '24h'
        singularity.autoMounts  = true
    }
    slurm {
        executor{
            name = 'slurm'
            queueSize = 10
        } 
        queue = 'LocalQ'
        errorStrategy = 'retry'
        maxRetries = 3
    }
    conda {
        conda.enabled = true
    }
}
process {
    errorStrategy = 'retry'
    maxRetries = 3
    resourceLimits = [
    cpus: 48,
    memory: 240.GB
    ]

    withName:convert_files {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: pca_plot {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: convert_gender {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: ff_all {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: ff_male {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    }
    withName: ref {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: read_count {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: wisecondor {
        cpus   = { 8     * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withName: report {
        cpus   = { 1    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
}   

// Get current timestamp
def timestamp = new java.text.SimpleDateFormat("yyyyMMdd_HHmmss").format(new Date())
report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}