params {
    input_csv = "*.csv"
    output_dir = "${baseDir}/results"
    reference_dir = ""
    binSize = 1000000
    gender_threshold = ""
}
workDir="${projectDir}/work"
executor {
    name = 'local'
    queueSize = 10
    cpus = 40
    memory = 100.GB
}
profiles {
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = '24h'
        singularity.autoMounts  = true
    }
    slurm {
        executor{
            name = 'slurm'
            queueSize = 10
        } 
        queue = 'LocalQ'
        errorStrategy = 'retry'
        maxRetries = 1
    }
    conda {
        conda.enabled = true
    }
}
process {
    errorStrategy = 'retry'
    maxRetries = 3
    resourceLimits = [
    cpus: 40,
    memory: 100.GB
    ]

    withName:convert_files {
        cpus   = { 4    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: pca_plot {
        cpus   = { 1    * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: convert_gender {
        cpus   = { 1    * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: seqff {
        cpus   = { 1    * task.attempt }
        memory = { 5.GB * task.attempt }
    }
    withName: defrag_a {
        cpus   = { 1    * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: defrag_b {
        cpus   = { 1    * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: read_count {
        cpus   = { 1    * task.attempt }
        memory = { 3.GB * task.attempt }
    }
    withName: wisecondorX {
        cpus   = { 4     * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: report {
        cpus   = { 1    * task.attempt }
        memory = { 8.GB * task.attempt }
    }
}   

// Get current timestamp
def timestamp = new java.text.SimpleDateFormat("yyyyMMdd_HHmmss").format(new Date())
report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}